<div class="centercontent">
    <h1>Burger Time!</h1>

    <h2>Add a Burger to be eaten</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="burger">Burger Name:</label>
            <input type="text" id="burger" name="name">
        </div>

        <div class="form-group">
            <label for="devour">Devour this tasty burger?</label><br>
            <input type="radio" name="devour" value="1" checked> Devour!<br>
            <input type="radio" name="devour" value="0"> Save it for later
        </div>

        <button type="submit">Do it</button>
    </form>
</div>

<div class="left-content">
    <h2>Burgers that are still needing to be devoured!!</h2>

    <ul class="green">
        {{#each burgers}}
        {{#unless devour}}
        {{> burgers/burger-block devour=true}}
        {{/unless}}
        {{/each}}
    </ul>

</div>

<div class="right-content">
    <h2>Burgers that are about to be devoured!</h2>

    <ul class="red">
        {{#each burgers}}
        {{#if devour}}
        {{> burgers/burger-block devour=false}}
        {{/if}}
        {{/each}}
    </ul>
</div>